In [1]:
a=[2,4,6]
b= a

In [2]:
a.append(8)

In [3]:
b

[2, 4, 6, 8]

In [4]:
a = 1

In [5]:
type(a)

int

In [6]:
a=a+0.1

In [7]:
type(a)

float

In [8]:
a=10; b=20

In [11]:
def my_function():
    global a
    a=11; b=21

In [12]:
my_function()

In [13]:
print(a) # print 11
print(b) # printn20

11
20

In [14]:
x ='one'
if x == 0:
    print('False')
elif x==1:
    print('True')
else: print('Something else')

Something else

In [15]:
x = 0
while x < 3: print(x); x+=1

0
1
2

In [1]:
greet = 'hello world'

In [2]:
greet[1]

'e'

In [3]:
greet[0:8]

'hello wo'

In [4]:
greet[0:8:2]

'hlow'

In [5]:
greet[0::2]

'hlowrd'

In [6]:
for i in enumerate(greet[0:5]):print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [8]:
greet[:5] + ' wonderful ' + greet[5:]

'hello wonderful  world'

In [9]:
x='3'; y='2'

In [10]:
x+y

'32'

In [11]:
int(x) + int(y)

5

In [12]:
x=1;y=2;z=3

In [13]:
list1=[x,y,z]

In [14]:
list2 =list1

In [16]:
list2[1] = 4

In [17]:
list1

[1, 4, 3]

In [18]:
items =[["rice", 2, 4, 8],["flour", 1.9, 5], ["Corn", 4.7,6]]

In [19]:
for item in items:
    print("Product: %s Price: %.2f Quality: %i" % (item[0], item[1], item[2]))

Product: rice Price: 2.00 Quality: 4
Product: flour Price: 1.90 Quality: 5
Product: Corn Price: 4.70 Quality: 6

In [20]:
items[1][1] = items[1][1] * 1.2

In [21]:
items[1][1]

2.28

In [22]:
l = [2,4,8,16]

In [23]:
[i**3 for i in l]

[8, 64, 512, 4096]

In [27]:
def f1(x): return x*2
def f2(x): return x*4

lst = []
for i in range(16):
    lst.append(f1(f2(i)))
print(lst)
print([f1(x) for x in range(64) if x in [f2(j) for j in range(16)]])

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]

In [28]:
list1 = [[1,2,3],[4,5,6]]

In [29]:
[i*j for i in list1[0] for j in list1[1]]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [30]:
words = 'here is a sentence'.split()

In [31]:
[[word, len(word)] for word in words]

[['here', 4], ['is', 2], ['a', 1], ['sentence', 8]]

In [32]:
sl = ['A', 'b', 'a', 'C', 'c']

In [33]:
sl.sort(key=str.lower)

In [34]:
sl

['A', 'a', 'b', 'C', 'c']

In [35]:
sl.sort()

In [36]:
sl

['A', 'C', 'a', 'b', 'c']

In [37]:
items.sort(key=lambda item: item[1])

In [38]:
items

[['rice', 2, 4, 8], ['flour', 2.28, 5], ['Corn', 4.7, 6]]

In [41]:
def iterTest(low,high):
    while low <= high:
        print(low)
        low=low+1
def recurTest(low,high):
    if low <= high:
        print(low)
        recurTest(low +1, high)

In [44]:
# compares the running time of a list compared to a generator
import time
# generator function creates an iterator of odd numbers between n and m
def oddGen(n,m):
    while n < m:
        yield n
        n += 2
# builds a lsit of odd numbers between n and m
def oddLst(n,m):
    lst=[]
    while n<m:
        lst.append(n)
        n +=2
    return lst
# the time it takes to perform sum on an iterator
t1=time.time()
sum(oddGen(1, 1000000))
print("Time to sum an iterator: %f" % (time.time() - t1))

# the time it takes to build and sum a list
t1 =time.time()
sum(oddLst(1,1000000))
print("Time to build and sum a list: %f" % (time.time() - t1))

Time to sum an iterator: 0.062084
Time to build and sum a list: 0.088856

In [45]:
lst1=[1,2,3,4]

In [46]:
gen1 =(10**i for i in lst1)

In [47]:
gen1

In [48]:
for x in gen1: print(x)

10
100
1000
10000

In [49]:
class Employee(object):
    numEmployee = 0
    def __init__(self, name, rate):
        self.owed = 0
        self.name = name
        self.rate = rate
        Employee.numEmployee +=1
        
    def __del__(self):
        Employee.numEmployee -= 1
        
    def hours(self, numHours):
        self.owed += numHours * self.rate
        return("%.2f hours worked" % numHours)
    
    def pay(self):
            self.owed = 0
            return("payed %s " % self.name)

In [50]:
empl = Employee("Jill", 18.50)

In [51]:
emp2 = Employee("Jack", 15.50)

In [52]:
Employee.numEmployee

2

In [58]:
empl.hours(20)

'20.00 hours worked'

In [59]:
empl.owed

370.0

emp1.owed

In [60]:
empl.pay()

'payed Jill '

In [61]:
dir(Employee)

['__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'hours',
 'numEmployee',
 'pay']

In [62]:
class my_class():
    def __init__(self, greet):
        self.greet = greet
    def __repr__(self):
        return 'a custom object (%r)' % (self.greet)

In [63]:
a = my_class('giday')

In [64]:
a

a custom object ('giday')

In [66]:
class specialEmployee(Employee):
    def __init__(self, name, reate, bonus):
        Employee.__init__(self, name, rate) # calls the base classes
        self.bonus = bonus
        
    def hours(self, numHours):
        self.owed += numHours * self.rate + self.bonus
        return ("%.2f hours worked" % numHours)

In [67]:
class Aexp(object):
    base=2
    @classmethod
    def exp(cls,x):
        return (cls.base**x)
    
class Bexp(Aexp):
    base =3

In [69]:
Bexp.exp(3)

27